{{ define "main" }}


<section id="content">
    
    {{ partial "breadcrumb.html" . }}

    <div class="container clearfix">
        <div class="row justify-content-center">
            <div class="col-md-10 col-sm-11">

                post list
                {{ .Content }}

                
                <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">

                    
                {{ $pag := .Paginate .Pages }}
                {{ range $pag.Pages }}
                    {{ partial "list-card-item.html" . }}
                {{ end }}

                </div>
                
                <div class="post-navigation">
                    {{ partial "pagination.html" . }}
                </div>
            </div>
        </div>
    </div>

</section>

{{ end }}