{{ define "main" }}
<section id="content">

    {{ partial "breadcrumb.html" . }}

    

    <div class="container clearfix ">
        <div class="row justify-content-center">
            
        <div class="post-container col-md-10 col-sm-11">
            {{ partial "post-header.html" . }}
        </div>

        <article class="post-container col-md-10 col-sm-11" itemscope="" itemtype="http://schema.org/BlogPosting">
            {{ partial "post-content.html" . }}

            {{ partial "post-next-last-nav.html" . }}
        </article>

    </div>
    </div>
</section>
{{ end }}