/* IMPORT FONTS */
/* https://fonts.google.com/specimen/Cabin+Sketch#standard-styles */
@font-face {
    font-family: "Cabin Sketch";
    src: url(CabinSketch-Regular.ttf);
}

@font-face {
    font-family: "Cabin Sketch";
    src: url(CabinSketch-Bold.ttf);
    font-weight: bold;
}

html,
body {
    padding: 0px;
    margin: 0px;
}

body {
    /*font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
    /* font-family: "Montserrat", Helvetica, Arial, Verdana, sans-serif; */
    font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background: white url('/images/bg.png');
}

/* HEADER und NAVIGATION */
.header {
    padding: 0;
}
.header > div {
    border-bottom: 1px dashed darkgray;
}

.flex {
    display: flex;
    gap: var(--gap, 0.0rem);
}

.navbar-brand {
    margin: 2rem;
}

.custom-nav {
    position: relative;
}

.custom-nav a::before {
    bottom: -3px;
}
/* 
.navbar div>ul>li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: rgb(92, 149, 112);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.active a {
    visibility: visible;
}

.navbar div>ul>li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
} */

.custom-nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -3px;
    left: 0;
    background-color: rgb(92, 149, 112);
}

.nav1 a::before {
    background-color: red !important;
}

.nav2 a::before {
    background-color: green !important;
}

.nav3 a::before {
    background-color: gainsboro !important;
}

.nav4 a::before {
    background-color: gold !important;
}

/* CONTENT */

#content {
    padding: 40px 0 40px 0;
}

article h1 {
    /* border-bottom: 1px dotted rgb(67, 90, 109);; */
    border-bottom: 2px solid gold;
    font-family: "Cabin Sketch";
    margin: 0 0 40px 0;
    font-size: 34px;
}

article h2 {
    margin-top: 2em;
}

article h3 {
    margin-top: 2em;
}

article h4,
h5,
h6 {
    margin-top: 1.5em;
}

article h2 {
    font-size: 24px;
}

article h1,
h2,
h3,
h4,
h5 {

    font-family: "Cabin Sketch";
}

#content h1 {
    border-bottom: 2px solid gold;
    font-family: "Cabin Sketch";
}

#content img {
    max-height: 500px;
    height: auto;
    width: auto;
}

.termin {
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 5px 0 10px 0;
}

.box {
    margin-bottom: 3rem;
}
.box h3 {
    border-bottom: 2px solid gold;
}

.single-page-nav {
    margin-top: 2em;
    border-top: 2px solid gold;
    padding: 10px 0;
}

#page-image {
    height: 200px;
}

#page-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    background: gold;
    margin-top: 30px;
    padding: 20px 0 20px 0;
}

.footer a {
    text-decoration: none;
}

.developedby {
    border-top: 1px dotted #000;
    padding-top: 20px;
    text-align: center;
}

.developedby a {
    margin-left: 10px;
}

.developedby a:hover {
    font-weight: 700;
}

.footer a {
    text-decoration: none;
}

#footer-nav ul {
    list-style: circle;
    margin: 0;
    padding: 0;
}

.md__image img {
    max-height: 400px;
    width: auto;
    height: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 8px 3px rgb(67, 90, 109, 0.2);
}

.fv_mitglied {
    border: 1px solid #eee;
    border-radius: 15px;
    background-color: #F5F5F5;
    text-align: center;
    padding: 10px 3px 10px 3px;
}

.fv_mitglied .fv_name {
    display: block;
    font-weight: bold;
    font-size: larger;
}

.fv_mitglied .fv_position {
    display: block;
    font-weight: 300;
}

.fv_project h3 {
    border-bottom: 2px solid gold;
}