html, body {
    padding:0px;
    margin:0px;
 }
body {
    /*font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
    /* font-family: "Montserrat", Helvetica, Arial, Verdana, sans-serif; */
    font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background: white; /*url('/images/paper-background.jpg');*/
}

.header {
    background: gold;
    padding: 0;
}

#top-contact {
    border-bottom: 1px dotted #444;
    padding: 0.3em 0 0.3em 0;
}

#top-contact .header-contactinfo a i {
    margin: 0 8px 0;
}
#top-contact .header-contactinfo a {
    margin: 0 20px 0;
}
#top-contact a {
  color:#444;
  font-style: normal;
  text-decoration: none;
}
#top-contact a:hover {
    color: #000;
}
.brand-big {
    font-size: 2em;
}
#offcanvasNavbar h5 {
    margin-top: 0;
    padding: 0;
    text-align: center;
}
#featureimage img {
    max-height: 400px;
    min-width: auto;
    object-fit: cover;
}

#top-contact a svg {
    margin-right: 3px;
}
#top-contact {
    font-size: 0.9em;
    
}
#top-contact svg {
    height: 0.9em;
}
#content {
    padding: 40px 0 40px 0;
}
article h1 {
      /* border-bottom: 1px dotted rgb(67, 90, 109);; */
      border-bottom: 2px solid gold;
    margin: 0 0 40px 0;
    font-size: 34px;
}
article h2 { margin-top: 2em;}
article h3 { margin-top: 2em;}
article h4,h5,h6 { margin-top: 1.5em;}

article h2 { font-size: 24px; }
article h1,h2,h3,h4,h5 {
    font-weight: 300;
}

#content h1 {
    border-bottom: 2px solid gold;
}

#content img {
    max-height:500px;
    height:auto;
    width:auto;
}
.termin {
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 5px 0 10px 0;
}

.post-list { margin-top: 2em;}
.post-list a {
    text-decoration: none;
}
.box h3 {
    border-bottom: 2px solid gold;

}

.single-page-nav {
    margin-top: 2em;
    border-top: 2px solid gold;
    padding: 10px 0;
}

#page-image {
    height: 200px;
}
#page-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    background: gold;
    margin-top: 30px;
    padding: 20px 0 20px 0;
}
.footer a {
    text-decoration: none;
}
.developedby {
    border-top: 1px dotted #000;
    padding-top: 20px;
    text-align: center;
}
.developedby a {
    margin-left: 10px;
}
.developedby a:hover {
    font-weight: 700;
}
.footer a {
    text-decoration: none;
}

#footer-nav ul {
    list-style:circle;
    margin: 0;
    padding: 0;
}

.md__image img {
    max-height: 400px;
    width: auto;
    height: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 8px 3px rgb(67, 90, 109, 0.2);
}

.fv_mitglied {
    border: 1px solid #eee;
    border-radius: 15px;
    background-color: #F5F5F5;
    text-align: center;
    padding: 10px 3px 10px 3px;
}
.fv_mitglied .fv_name {
    display: block;
    font-weight: bold;
    font-size: larger;
}
.fv_mitglied .fv_position {
    display: block;
    font-weight: 300;
}
.fv_project h3 {
    border-bottom: 2px solid gold;
}