$primary: #ffda6a;
$mutedFontColor: #212529;

$color_1: #f68235;
$color_1_light: #ffae84;
$color_2: #bd3d94;
$color_2_light: #cc73ad;
$color_3: #2b7abf;
$color_3_light: #67a0d7;
$color_4: #2cb1d0;
$color_4_light: #6dcee1;
$color_5: #97ca51;
$color_5_light: #b8d877;
$color_6: #f7d22b;
$color_6_light: #f4e17a;