@font-face {
    font-family: "Jost";
    src: url('/fonts/Jost-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: url('/fonts/Jost-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: url('/fonts/Jost-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: url('/fonts/Jost-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: url('/fonts/Jost-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: url('/fonts/Jost-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: url('/fonts/Jost-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: url('/fonts/Jost-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: url('/fonts/Jost-Black.ttf');
    font-weight: 900;
    font-style: normal;
}




html,
body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* font-family: 'Jost', sans-serif;*/
    font-family: "Montserrat", Arial, sans-serif;
}

/* HEADER und NAVIGATION */
#main-nav {
    --navbar-font-color: rgba(0, 0, 0, 0.7);
    --navbar-font-color-hover: rgba(0,0,0,0.9);

    background-color: white;
    color: var(--navbar-font-color);
}
#navbar-toggle > div {
    cursor: pointer;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#navbar-toggle:is(:hover, :active, :focus) {
    border: none;
}
.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    background-color: var(--navbar-font-color);
    transition: background-color 0.2s ease-in-out,
                transform 0.2s ease-in-out,
                opacity 0.2s ease-in-out;
}
#navbar-toggle:is(:focus, :hover) .icon-bar {
    background-color: var(--navbar-font-color-hover);
}
#navbar-toggle[aria-expanded='true'] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
}
#navbar-toggle[aria-expanded='true'] .icon-bar:first-child {
    transform: rotate(45deg);
}
#navbar-toggle[aria-expanded='true'] .icon-bar:nth-child(2) {
    opacity: 0;
}
#navbar-toggle[aria-expanded='true'] .icon-bar:last-child {
    transform: rotate(-45deg);
}

// #navbar-toggle[aria-expanded='true']+#navbar-menu {
//     background-color: rgba(0, 0, 0, 0.4);
//     opacity: 1;
//     visibility: visible;
// }
// #navbar-toggle[aria-expanded='true']+#navbar-menu .navbar-links {
//     padding: 1em;
// }

.nav-item a {
    color: var(--navbar-font-color);
}
.nav-item a:hover {
    color: var(--navbar-font-color-hover);
}
.dropdown-menu {
    margin: 0.5em;
    border-radius: 5px;
}
.nav-item .active {
    font-weight: bold;
    border-bottom: 2px solid #2b7abf;
}

$colors: (
    #f68235,
    #bd3d94,
    #2b7abf,
    #2cb1d0,
    #97ca51,
    #f7d22b
);
$colorsLight: (
    #ffae84,
    #cc73ad,
    #67a0d7,
    #6dcee1,
    #b8d877,
    #f4e17a
);
$foreColors: (
    white,
    white,
    white,
    white,
    white,
    white
);

@for $i from 1 through 6 {
    .nav-#{$i} a:hover {
        background-color: nth($colorsLight, $i);
        color: black;
    }
    .nav-#{$i} a:active {
        color: nth($colors, $i);
    }
    
    .nav-item-aktiv-#{$i} a {
        background-color: nth($colors, $i);
        color: nth($foreColors, $i) !important;
    }
    
    .color-#{$i} .page-header {
        border-left: 1em solid nth($colors, $i);
        padding-left: 0.5em;
    }

    .color-#{$i} footer, .color-#{$i} .header-contact {
        background-color: nth($colors, $i);
        color: nth($foreColors, $i);
    }
    .color-#{$i} footer a, .color-#{$i} .header-contact a {
        color: nth($foreColors, $i);
    }
    .color-#{$i} #content a {
        color: nth($colors, $i);
    }
}


/* HERO */
#hero {
    padding-top: var(--navbar-height);
}
.hero-img {
    max-height: 370px;
    border-radius: 5px;
}

.sticky-shadow {
    /*box-shadow: 0px 5px 5px #ccc;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

/* FOOTER */
.footer {
    background: $primary;
    margin-top: 30px;
    padding: 20px 0 20px 0;
}

.footer a {
    text-decoration: none;
}

.developedby {
    border-top: 1px dotted #000;
    padding-top: 20px;
    text-align: center;
}

.developedby a {
    margin-left: 10px;
}

.developedby a:hover {
    font-weight: 700;
}

.footer a {
    text-decoration: none;
}

#footer-nav ul {
    list-style: circle;
    margin: 0;
    padding: 0;
}

// .footer a {
//     color: $gray-900 !important;
// }

// .footer a:hover {
//     color: $gray-700 !important;
// }


#content {
    padding: 70px 0 130px;
}

/* H1 ... H6 */
#content h2,
#content h3,
#content h4,
#content h5 {
    margin: 1.5em 0 0.5em;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
    font-family: inherit;
    font-weight: bold;
    margin: 0 0 0.5em;
    color: inherit;
}

h1,
.h1 {
    font-size: 2em;
}

h2,
.h2 {
    font-size: 1.6em;
}

h3,
.h3 {
    font-size: 1.4em;
}

h4,
.h4 {
    font-size: 1.2em;
}

h5,
.h5 {
    font-size: 1em;
}

h6,
.h6 {
    font-size: 1em;
}

p {
    margin: 0 0 1em;
}

// h3 {
//     font-size: 1.3em;
//     margin-top: 1em;
// }
// h4 {
//     font-size: 1em;
//     margin-top: 1em;
//     font-weight: bold;
// }

// #content h1 {
//     font-weight: bold;
// }

// #content a {
//     color: $gray-900;
//     background-color: $primary;
// }

// #content a:hover {
//     color: $gray-700;
// }


/* UTILS */
.btn-circle {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0;
}

.btn-circle-inner {
    position: relative;
    top: -3px;
    width: 16px;
    height: 16px;
}

.lightbox-img img {
    border-radius: 10px;
    box-shadow: 3px 3px 8px 3px rgba(67, 90, 109, 0.2);
    margin: 10px;
}

#page-image {
    height: 200px;
}

#page-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Mitglieder Liste mit Fotos */
.fv_mitglied {
    border: 1px solid #eee;
    border-radius: 0px; // alter Wert 15
    background-color: #F5F5F5;
    text-align: center;
    padding: 0px; // alter Wert 10
    box-shadow: 0px 3px 10px lightgray;
}

.fv_mitglied .fv_name {
    display: block;
    font-weight: bold;
}

.fv_mitglied .fv_position {
    display: block;
    font-weight: smaller;
}

.fv_mitglied img {
    border-top-left-radius: 0px; // alter Wert 10
    border-top-right-radius: 0px; // alter Wert 10
    height: auto;
}

/* Category List */
.categorie-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.categorie-list li {
    display: inline;
}



.info-box {
    margin-top: 3em;
    margin-bottom: 3em;
}

.info-box-icon {
    background-color: $primary;
    color: white;
    padding: 1em;
}

.info-box-content {
    background-color: #F5F5F5;
    padding: 1em;
}

.info-box .title {
    font-size: 26px;
    font-weight: bolder;
}