<div class="modal fade" id="acceptDatenschutz" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="acceptDatenschutzLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="acceptDatenschutzLabel">Datenschutzerklärung</h1>
        </div>
        <div class="modal-body">
            Diese Webseite benutzt Cookies. Da wir Datenschutz respektieren und ernst nehmen, verwenden wir aber nur Cookies, die für den Betrieb der Webseite und seiner Funktionen unerlässlich sind. 
            In dem Sie diese Webseite verwenden, stimmen Sie unserer <a href="{{ ref . "/datenschutz" }}" target="_blank">Datenschutzerklärung</a> zu.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  