<div class="header-contact">
    <div class="container">
        <div class="d-flex justify-content-end">
            <a class="btn" href="mailto:poststelle@grundschule.immenhausen.schulverwaltung.hessen.de" role="button">
                <i data-feather="mail" class="btn-circle-inner"></i>
            </a>
            <a class="btn" href="tel:056732651" role="button">
                <i data-feather="phone" class="btn-circle-inner"></i>
            </a>
        </div>
    </div>  
</div>

<header id="navbar">
    {{ partial "navbar.html" . }}
</header>