<div class="header-1">
    <div class="container">
        <div class="header-1 d-flex justify-content-start align-self-center">
            <a href="#" class="logo"><img id="logo" src="/images/lilli-jahn-kopf.png" alt="logo Lilli-Jahn-Schule"></a>
            <h1 class="align-self-center"><span class="fw-bold">Lilli-Jahn-Schule</span> <span
                    class="fw-light">Immenhausen</span></h1>
            <!-- Instagram -->
            <div class="align-self-center ms-auto ">
                <a class="btn btn-primary btn-circle btn-circle-sm" href="mailto:poststelle@grundschule.immenhausen.schulverwaltung.hessen.de" role="button">
                    <i data-feather="mail" class="btn-circle-inner"></i>
                </a>
                <a class="btn btn-primary btn-circle btn-circle-sm" href="tel:056732651" role="button">
                    <i data-feather="phone" class="btn-circle-inner"></i>
                </a>
                <a class="btn btn-primary btn-circle btn-circle-sm" href="#!" role="button">
                    <i data-feather="instagram" class="btn-circle-inner"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<header class="header sticky-top">
    {{ partial "navbar.html" . }}
</header>