<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ .Page.Title }} | {{ .Site.Title }}</title>

{{ $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed") }}
{{ $style := resources.Get "scss/main.scss" | resources.ToCSS $options | minify }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen">

<link rel="alternate" type="application/rss+xml" href='{{ "feed.xml" | absURL }}' />
<link rel="alternate" type="text/calendar+ics" href='{{ "termine-lilli-jahn-schule.ics" | absURL }}' />

{{ $jquery := resources.Get "js/jquery.min.js" }}
<script src="{{ $jquery.RelPermalink }}"></script>

{{ $feather := resources.Get "js/feather.min.js" }}
<script src="{{ $feather.RelPermalink }}"></script>