{{ $image := "/images/vorschaubild-platzhalter.jpg" }}

{{ if .Params.thumbnail }}
    {{ with .Resources.GetMatch .Params.thumbnail }}
        {{ $image = .Permalink }}
    {{ end }}
{{ end }}

<div class="card mb-3">
    <img class="card-img-top" src="{{ $image }}" alt="Card image cap">
    <div class="card-body">
        {{ partial "categories-preview.html" . }}
        <p class="card-text"><small class="text-muted">{{ time.Format "02. January 2006" .Date }}</small></p>
      <h5 class="card-title">{{ .Title }}</h5>
      <p class="card-text">{{ .Content }}</p>
    </div>
  </div> 