<navbar class="navbar-container container">
    <a href="/" class="home-link">
        <div class="navbar-logo"><img src="/images/lilli-jahn-schule-logo.png"></div>
    </a>

     <!-- https://www.aleksandrhovhannisyan.com/blog/responsive-navbar-tutorial/ -->
    
    <button
        type="button"
        id="navbar-toggle"
        aria-control="Toggle menu"
        aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
    </button>
    <div id="navbar-menu" aria-labelledby="navbar-toggle">
        <ul class="navbar-links">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                {{ $count := .Params.styleIndex }}
                {{ if .HasChildren }}
                <!-- sub menus -->
                <li class="navbar-item dropdown {{ printf " nav%d" $count }} {{ if
                    $currentPage.HasMenuCurrent "main" . }} active {{ printf " nav-item-aktiv-%d" $count }} {{ end }}">
                    <a class="navbar-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{ .Name }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                        {{ range .Children }}
                        <li class=""><a class="dropdown-item {{ if $currentPage.IsMenuCurrent " main" . }}
                                active {{end}}" href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                </li>
                {{ else }}
                <!-- top level menues -->
                <li class="navbar-item {{ printf " nav%d" $count }} {{ if
                    $currentPage.IsMenuCurrent "main" . }} active{{ printf " nav-item-aktiv-%d" $count }}{{end}}">
                    <a class="navbar-link" {{ if $currentPage.IsMenuCurrent "main" . }} aria-current="page" {{ end
                        }} href="{{ .URL }}">
                        {{ .Name }}
                    </a>
                </li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
</navbar>