<nav id="main-nav" class="navbar navbar-expand-lg">
    <div class="container d-flex justify-content-between">
        <a class="navbar-brand " style="max-width: 60%;" href="/">
            <img src="/images/lilli-jahn-schule-logo.png" alt="Logo Lilli Jahn Schule" class="img-fluid">
        </a>
        <button id="navbar-toggle" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <div>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">

                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    {{ $colorIndex := .Params.styleIndex }}
                    
                    {{ if .HasChildren }}
                        <li class="nav-item dropdown {{ printf "nav-%d" $colorIndex }}">
                            <a class="nav-link dropdown-toggle {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end
                            }}" href="{{ .URL }}" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">{{ .Name }}</a>
                            
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                {{ range .Children }}
                                    <li><a class="dropdown-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end
                                    }}" {{ if $currentPage.IsMenuCurrent "main" . }} aria-current="page" {{ end
                                    }}  href="{{ .URL }}">{{ .Name }}</a></li>
                                {{ end }}
                            </ul>
                        </li>
                    {{ else }}
                        <li class="nav-item {{ printf "nav-%d" $colorIndex }}">
                            <a class="nav-link {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end
                            }}" {{ if $currentPage.IsMenuCurrent "main" . }} aria-current="page" {{ end
                            }} href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                    {{ end }}

                {{ end }}
<!-- 

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown link
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>