{{ define "main" }}

<section id="content">
    <div class="container clearfix">
        <h1>{{ .Title }}</h1>
        <section class="box">
            {{.Content}}
        </section>

        <section class="box">
            <div class="container post-list-ul">
                <ul>
                {{ range .Pages }}
                    <li><a href="{{ .Permalink }}" alt="{{ .Title }}">{{ .Title }}</a></li>
                {{ end }}
                </ul>
            </div>
        </section>
    </div>
</section>

{{ end }}