{{ define "main" }}

<section id="content">
    <div class="container">
        {{ partial "breadcrumb.html" . }}
    </div>
    <div class="container clearfix">
        <div class="row">

            <div class="col-md-9">
                <h1>{{ .Page.Title }}</h1>
                <article>
                    {{ .Content }}
                </article>
            </div>
            <div class="col-md-3">
                <aside>
                    {{ partial "aside-kontakt.html" . }}
                    
                    {{ partial "aside-section-nav.html" . }}
                </aside>
            </div>
        </div>


    </div>
</section>

{{ end }}