{{ define "main" }}


<section id="content">
       
    <div class="container clearfix">
        <h1>{{ .Title }}</h1>
        <section class="box">
            {{.Content}}
        </section>

        <section class="box">
            <div class="container justify-content-center">
<div class="row">
                <div class="post-list-ul c0l-9">
                    <ul>
                        {{ range .Pages }}
                        <li><a href="{{ .Permalink }}" alt="{{ .Title }}">{{ .Title }}</a></li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            </div>
        </section>
    </div>
</section>

{{ end }}