{{ define "main" }}

{{ partial "hero.html" . }}

<section id="content" class="{{ partial "color-index-class.html" . }}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12 col-12">
                {{ partial "page-title.html" . }}

                {{ .Content }}

                <hr>

                <div class="post-list-ul">
                    {{ range .Pages }}
                    <li><a href="{{ .Permalink }}" alt="{{ .Title }}">{{ .Title }}</a></li>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>

</section>

{{ end }}