<div class="container-fluid">
<script src="{{ "/shortcode-gallery/swipebox/js/jquery.swipebox.min.js" | relURL }}"></script>
<link rel="stylesheet" href="{{ "/shortcode-gallery/swipebox/css/swipebox.min.css"| relURL }}">

{{ $class := .Get "class" }}
{{ $title := .Get "title"}}
{{ $preview := "" }}
{{ $src := "" }}
{{ $targetSize := "600x400" }}
{{ $size := .Get "size" }}
{{ with $size }}
    {{ $targetSize = $size }}
{{ end }}

{{ $src := .Get "src" }}
{{ $image := .Page.Resources.GetMatch $src }}
{{ with $image }}
   
    {{ $imagePreview := $image.Fit $targetSize }}

    <a href="{{ $image.RelPermalink }}" class="lightbox-img swipebox" title="{{ $title }}">
        <img src="{{ $imagePreview.RelPermalink }}" class="{{ $class }} img-fluid">
    </a>
{{ else }} 
    <a href="{{ $src }}" class="lightbox-img swipebox" title="{{ $title }}">
        <img src="{{ $src }}" class="{{ $class }} img-fluid">
    </a>
{{ end }}


<script>
    $('.swipebox').swipebox();
</script>
</div>