<script src="{{ "/shortcode-gallery/swipebox/js/jquery.swipebox.min.js" | relURL }}"></script>
<link rel="stylesheet" href="{{ "/shortcode-gallery/swipebox/css/swipebox.min.css"| relURL }}">

<div class="container px-1">
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3">
        {{ $param := .Get 0}}
        {{ $file := index site.Data $param}}
        {{ range $file.personen }}
        
        <div class="col">
            <div class="card h-100">
                {{ $image := "/images/avatar.png" }}
                {{ if .image}}
                    {{ $image = .image }}
                {{ end }}
                <a href="{{ $image }}" class="swipebox" title="{{ .name }} / {{ .funktion }}">
                    <img src="{{ $image }}" class="card-img-top">
                </a>

                <div class="card-body">
                    <h5 class="card-title">{{ .name }}</h5>
                    <p class="card-text">{{ .funktion }}</p>
                  </div>
            
            </div>
        </div>
        
        {{ end }}

    </div>
</div>

<script>
    $('.swipebox').swipebox();
</script>