<script src="{{ "/shortcode-gallery/swipebox/js/jquery.swipebox.min.js" | relURL }}"></script>
<link rel="stylesheet" href="{{ "/shortcode-gallery/swipebox/css/swipebox.min.css"| relURL }}">

<div class="container px-1">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        {{ $param := .Get 0}}
        {{ $file := index site.Data $param}}
        {{ range $file.personen }}
        
        <div class="col">
            <div class="m-1 fv_mitglied">
                {{ $image := "/images/avatar.png" }}
                {{ if .image}}
                    {{ $image = .image }}
                {{ end }}
                <a href="{{ $image }}" class="swipebox" title="{{ .name }} / {{ .funktion }}">
                    <img src="{{ $image }}" class="img-fluid">
                </a>
                <span class="fv_name">{{ .name }}</span>
                <span class="fv_funktion">{{ .funktion }}</span>
            </div>
        </div>
        
        {{ end }}

    </div>
</div>

<script>
    $('.swipebox').swipebox();
</script>