{{ define "main" }}


<section id="content">
    <div class="container">
            {{ partial "breadcrumb.html" . }}
        </div>
        <div class="container">
            <h1>{{ .Page.Title }}</h1>
        </div>
        <div class="container">
            {{ .Content }}
        </div>
    <div class="container clearfix">
        {{ $projekte := .Site.GetPage "/foerderverein/projekte" }}

        <div class="fv_projekte">
            {{ range .Pages }}
                {{ partial "list-item.html" . }}
            {{ end }}
        </div>
    </div>  
</section>

{{ end }}