<section class="box">
    <h3>Kontakt</h3>
    <b>Lilli-Jahn-Schule Immenhausen</b>
    <p>Grundschule</p>

    <p>
        Nordweg 10
        34376 Immenhausen
    </p>

    <p>
        Sekretariat: <a href="tel:056732651"> <i data-feather="phone"></i> 05673-2651</a><br>
        Betreuung: <a href="tel:05673925779"> <i data-feather="phone"></i> 05673-925779</a> (ab
        11:15 Uhr)
    </p>

    <p>
        <a href="mailto:poststelle@grundschule.immenhausen.schulverwaltung.hessen.de"><i data-feather="mail"></i> Email</a>
    </p>
</section>