<footer class="footer">
    <div>
        <div class="container">
            <div class="row">
                <!-- <div class="col-sm-3 d-flex justify-content-center">
                    <img id="site-logo" src="/images/lilli-jahn-kopf.png" alt="logo Lilli-Jahn-Schule">
                </div> -->
                <div class="col-md-9">
                    <b>Lilli-Jahn-Schule Immenhausen</b>
                    <p>Grundschule</p>

                    <p>
                        Nordweg 10
                        34376 Immenhausen
                    </p>

                    <p>
                        Sekretariat: <a href="tel:056732651"> <i class="fa-solid fa-phone"></i> 05673-2651</a><br>
                        Betreuung: <a href="tel:05673925779"> <i class="fa-solid fa-phone"></i> 05673-925779</a> (ab
                        11:15 Uhr)
                    </p>

                    <p>
                        <a href="mailto:poststelle@grundschule.immenhausen.schulverwaltung.hessen.de"><i
                                class="fa-solid fa-envelope"></i>
                            poststelle@grundschule.immenhausen.schulverwaltung.hessen.de</a>
                    </p>
                </div>
                <div class="col-md-3">
                    {{ partial "footer-navbar.html" . }}
                </div>
            </div>
        </div>
    </div>

    {{ partial "footer-credits.html" . }}
</footer>