<div id="footer-nav" >
    <div class="container">
        <nav class="">
            <ul>
                {{ $currentPage := . }}
                {{ range .Site.Menus.footermenu }}
                <li class="">
                    <a class="{{ if $currentPage.IsMenuCurrent " main" . }} active" aria-current="page{{ end }}"
                        href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>

        </nav>

        <br>
        <a href="/feed.xml" alt="RSS Feed der Schule" target="_blank"><i data-feather="rss"></i> RSS</a> | <a href="/sitemap.xml" alt="Sitemap" target="_blank"><i data-feather="package"></i> Sitemap</a>
    </div>
</div>