{{ $image := "/images/vorschaubild-platzhalter.jpg" }}

{{ if .Params.thumbnail }}
    {{ with .Resources.GetMatch .Params.thumbnail }}
        {{ $image = .Permalink }}
    {{ end }}
{{ end }}

<div class="col">
    <div class="card h-100">
        <img src="{{ $image }}" class="card-img-top">
        <div class="card-body">
            {{ partial "categories-preview.html" . }}
            <h5 class="card-title">{{ .Title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ time.Format "Monday, 02. January, 2006" .Date }}</h6>
            <p class="card-text">
                {{ truncate 120 .Content | plainify }}
            </p>
            <a href="{{ .Permalink }}" itemprop="url" class="btn btn-warning readmore" role="button">Weiterlesen...</a>
        </div>
    </div>
</div>