<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light flex m-0 p-0">
        <div class="container-fluid m-0 p-0">
            <a class="navbar-brand" href="/">
                <img id="logo" src="/images/header-logo.png" alt="logo Lilli-Jahn-Schule">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel d-flex">
                <div class="offcanvas-header"> 
                    <div>
                    <img src="/images/lilli-jahn-kopf.png" alt="Logo" class="d-block" />
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Lilli-Jahn-Schule</h5>
                    <p>Immenhausen</p>
                </div>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 flex">
                        
                        {{ $currentPage := . }}
                        {{ $count := 0 }}
                        {{ range .Site.Menus.main }}
                            {{ $count = add $count 1 }}
                            {{ if .HasChildren }}
                                <!-- sub menus -->
                                <li class="custom-nav nav-item dropdown {{ printf "nav%d" $count }} {{ if $currentPage.HasMenuCurrent "main" . }} active {{ end }}">
                                    <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown"
                                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        {{ with .Pre }}
                                            <i data-feather="{{ . }}"></i>
                                        {{ else }}
                                            {{ .Name }}
                                        {{ end }}
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                        {{ range .Children }}
                                            <li class=""><a class="dropdown-item {{ if $currentPage.IsMenuCurrent "main" . }} active {{end}}" href="{{ .URL }}">{{ .Name }}</a></li>
                                        {{ end }}
                                    </ul>
                                </li>
                            {{ else }}
                                <!-- top level menues -->
                                <li class="custom-nav nav-item {{ printf "nav%d" $count }} {{ if $currentPage.IsMenuCurrent "main" . }} active {{end}}">
                                    <a class="nav-link" {{ if $currentPage.IsMenuCurrent "main" . }} aria-current="page"{{ end }} href="{{ .URL }}">
                                        {{ with .Pre }}
                                            <i data-feather="{{ . }}"></i>
                                        {{ else }}
                                            {{ .Name }}
                                        {{ end }}
                                    </a>
                                </li>
                            {{ end }}
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>