<section class="post-stub clearfix">
    <div class="row">
        <div class="col-md-5">
            {{ if .Params.thumbnail }}
                <img src="{{ .Params.thumbnail }}" class="img-fluid"> 
            {{ else }}
                <img src="/images/vorschaubild-platzhalter.jpg" class="img-fluid">
            {{ end }}
        </div>
        <div class="col-md-7">
            <a href="{{ .Permalink }}"><h4 class="post-stub-title">{{ .Title }}</h4></a>
            <time class="post-stub-date" datetime="{{ .Date.Format " 2006-01-02" }}">{{ dateFormat (default "02 Jan 06 "
                .Site.Params.dateFormat) .Date }}</time>
                
            {{ .Content | safeHTML | truncate 150 }}
        <div class="d-flex justify-content-end">
            <a href="{{ .Permalink }}" itemprop="url" class="btn btn-outline-warning" role="button">Weiterlesen...</a></div>
        </div>
    </div>


</section>