<header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
    <p class="post-date{{ if not .Site.Params.readingTime }} post-line{{ end }}">
        <span><time datetime="{{ .Date.Format "2006-01-02" }}" itemprop="datePublished">{{ dateFormat (default "Mon, Jan 2, 2006" .Site.Params.dateFormat) .Date }}</time> | {{ .Params.author | default .Site.Author.name }}</span>
    </p>
    {{ if .Description }}
        <p class="post-description" itemprop="description">{{ .Description }}</p>
    {{ end }}
</header>