{{ define "main" }}

{{ partial "hero.html" . }}

<section id="content" class="{{ partial "color-index-class.html" . }}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12 col-12">
                {{ partial "page-title.html" . }}

                {{ .Content }}

                <div class="row">
                    {{ range .Pages }}
                        <div class="col-sm-6 mb-3 mb-sm-0">
                          <div class="card mb-3">
                            {{ $imgPath := .Resources.GetMatch "/images/vorschaubild-platzhalter.jpg" }}

                                {{ if .Params.thumbnail }}
                                {{ $imgPath = .Params.thumbnail}}
                                {{ end }}
                
                                {{ with .Resources.GetMatch $imgPath }}
                                {{ $image:= .Fill "900x600 center" }}
                                <img class="card-img-top" src="{{ $image.Permalink }}" alt="{{ .Title }}">
                                {{ end }}
                            <div class="card-body">
                                
                              <h5 class="card-title">{{ .Title }}</h5>
                              <p class="card-subtitle mb-2 text-body-secondary text-muted">{{ time.Format "02. January 2006" .Date }}</p>
                              <p class="card-text">{{ .Summary }}</p>
                              <a href="{{ .Permalink }}" class="btn btn-primary">Weiterlesen</a>
                            </div>
                          </div>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>

</section>

{{ end }}