
<div class="container px-3">
    {{ $lastVal := "" }}
    {{ range .Site.Data.termine.termine }}
        {{ $dateFormatted := replaceRE `(\d{1,2}).(\d{1,2}).(\d{2,4})` "$3-$2-$1" .datum }}
        {{ $val := dateFormat "2006-01" $dateFormatted }}
        
        {{ if ne $lastVal $val }}
            {{ if ne $lastVal "" }}
                </div>
            {{ end }}
            <div class="row">
            <div class="col w-100 eventcal-header-month">
                <span>{{ dateFormat "January 2006" $dateFormatted }}</span>
            </div>
        </div>
            <div class="row row-cols-md-2 row-cols-lg-3 row-cols-sm-1 gx-2">
                
        {{ end }}
        
        <div class="col">
            <div class="m-2 eventcal-card">
                <div class="eventcal-card-day">{{ dateFormat "02" $dateFormatted }}</div>
                <div class="eventcal-card-month">{{ dateFormat "Jan" $dateFormatted }}</div>
                <div class="eventcal-card-text">{{ .name }}</div>
            </div>  
        </div>

        {{ $lastVal = $val}}
    {{ end }}
        </div>
</div>