{{ define "main" }}

<section>
    {{ $image := resources.Get "images/hero/einschulung-klein.jpg" }}
    <img src="{{ $image.RelPermalink }}" class="img-fluid" >
</section>

{{ partial "breadcrumbs.html" . }}

<section id="content" class="{{ partial "color-index-class.html" . }}">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-12 col-12">
                    {{ partial "page-title.html" . }}
                    <article class="article clearfix"> 
                        {{ .Content }}
                    </article>
                </div>
            </div>
        </div>

</section>
<section id="aktuelle-meldungen" class="{{ partial "color-index-class.html" . }}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12 col-12">        
                <h2 class="page-header">Aktuelle Meldungen</h2>
                <article class="aktuelles">
                    {{ $pag := .Paginate (where .Site.RegularPages "Type" "in" "post") }}
                    {{ range $pag.Pages }}
                        {{ partial "list-card-item.html" . }}
                    {{ end }}
                </article>
                
                <div class="post-navigation">
                    {{ partial "pagination.html" . }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}