{{ define "main" }}

<section id="content">
    <div class="container clearfix">
        <section class="aktuelles">                  
            <!-- <div class="row row-cols-1 row-cols-md-2 g-4"> -->
            {{ $pag := .Paginate (where .Site.RegularPages "Type" "in" "post") }}
            {{ range $pag.Pages }}
                <div class="row mb-5">
                    {{ partial "list-card-item.html" . }}
                </div>
            {{ end }}

            
            <div class="post-navigation">
                {{ partial "pagination.html" . }}
            </div>
                       
        </section>
    </div>
</section>

{{ end }}